<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.kh.myex01.mappers.member2">
<select id="getTime" resultType="string">
select sysdate from dual 
</select>

<select id="getMember2List" resultType="Member2Vo">
select  * from tbl_member2 
</select>

<insert id="insertMember2">
insert into tbl_member2 (memberid, memberpw, membername, email)
	values(#{memberid}, #{memberpw}, #{membername}, #{email})
</insert>

<select id="getMemberById" resultType="Member2Vo">
select * from tbl_member2 where memberid=#{memberid}
</select>

<update id="modifyMember2">
update tbl_member2 set memberpw=#{memberpw}, membername=#{membername},
	email=#{email}, updatedate=sysdate where memberid=#{memberid}
</update>

<delete id="deleteMember2">
delete from tbl_member2 where memberid=#{memberid}
</delete>
</mapper>