<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kh.myex01.mappers.message2">
	<insert id="insertMessage2">
		insert into tbl_message2
		(mid,sender, receiver, message)
		values
		(seq_message2_mid.nextval, #{sender}, #{receiver}, #{message})
	</insert>
	
	<select id="readMessage2" resultType="Message2Vo">
		select * from tbl_message2 where mid= #{mid}
	</select>
	
	<update id="updateOpendate">
		update tbl_message2 set
		opendate = sysdate
		where mid= #{mid}
	</update>
	
	<delete id="deleteMessage2">
		delete from tbl_message2 where
		mid = #{mid}
	</delete>
	
	<select id="message2List" resultType="Message2Vo">
		select * from tbl_message2
		where
		${mType} = #{memberid}
	</select>
	
	<select id="getCountNoReadMessage" resultType="string">
		select count(*) from tbl_message2 where
		opendate is null and receiver=#{receiver}
	</select>
</mapper>